.gallery {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    figure{
        margin: 15px 0 0 0;
        padding: 0;
        img{
            width: 100%;
            min-height: 250px;
            margin: 0;
            padding: 0;
            &:hover{
                box-shadow: 0px 0px 8px 1px rgba(255,253,253,0.79);
            }
        }
        figcaption{
            background-color: rgba(195, 105, 41, 0.741);
            p{
                margin: 0;
                padding: 0;
            }
            
        }
    }
    
}

